.page {
	display: flex;
	background: #FFF;

	@media screen and (min-width: 768px) {
		border-top: 1px solid #DFDDD3;
	}
}

.price {
	font-size: 32px;
	line-height: 1.5em;
}

.special {
	color: #990000;
	text-transform: none;
	letter-spacing: 0;
	font-weight: 400;
}

.included {
	text-transform: none;
	letter-spacing: 0;
	font-weight: 400;
}

.information {
	padding: 2rem 4rem;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #DFDDD3;
}

.listItem {
	border-bottom: 1px solid #DFDDD3;
	padding: 1rem 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.pricingPanelDesktop {
	display: block;
	padding: 2rem;
	line-height: 1.5em;


	.price {
		font-size: 36px;
	}
}

// md

	.pricingPanelDesktop {
		display: none;
	}
	.productRight {
		width: 100%;
	}


// md
@media screen and (min-width: 768px) {
	.pricingPanelMobile {
		display: none;
	}
	.pricingPanelDesktop {
		display: block;
	}
	.productRight {
		width: 33.333%;
	}

	.productLeft {
		width: 66.666%;
		border-right: 1px solid #DFDDD3
	}
}
