.content {
	display: grid;
	gap: 1px;
	background-color: #dddddd;
	color: black;
	padding: 1px;
	font-weight: 200;
	letter-spacing: normal;
	line-height: 20px;
	font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
	// xs
	grid-template-columns: repeat(1, 1fr);
}

// sm
@media screen and (min-width: 567px) {
	.content {
		grid-template-columns: repeat(2, 1fr);
	}
}

// md
@media screen and (min-width: 768px) {
	.content {
		grid-template-columns: repeat(4, 1fr);
	}
}
